.Turismo{
    background-image: url(../imagenes/fondo.png)
}
.Bienvenidos{
    color:black;
    background-color: antiquewhite;
    font-size: 60px;
}
.título{
    color: brown;
    background-color: blueviolet;
    font-size: 90px;
}
.texto{
   
    color:#46453a;
    font-size: 40px;
    padding: 2%;
}
.Atractivos{
    color: #46453a;
    font-size: 40px;
    padding: 2%;
}
.Contacto{
    color: #46453a;
    font-size: 40px;
    padding: 2%;
}
.Recreo{
    color: #46453a;
    font-size: 40px;
    padding: 2%;
}
.Avent{
    color:#46453a;
    font-size: 40px;
    padding: 2%;
}
.Des{
    color:#46453a;
    font-size: 40px;
    padding: 2%;
}
.Turismo{
    color: black;
    background-color: aquamarine;
    font-size: 65px;
}
.at1{
    background-color:#135;
    width: 50%;
    height: 90vh;
    margin: auto;

}
.at2{
    background-color: #8123de;
    width: 40%;
    height: 40vh;
    margin: auto;
}
.at3{
    background-color: #99ff00;
    width: 30%;
    height: 30vh;
    margin: auto;
    margin-top: auto;
}
.at4{
    background-color: aqua;
    width: 20%;
    height: 20vh;
    margin: auto;
}

.Atp1{
    padding:2%;
}
.Atp2{
    padding: 2%;
}
.Atp3{
    padding: 2%;
}
.Atp4{
    padding: 2%;
}

.Regist{
    font-size: 50px;
}
input{
    width: 50%;
    font-size: 50px;
}
.elementopadre{
    list-style-type: none;
    padding: 0%;
    border:1px solid black;
    display: flex;
    flex-direction: column;
  
}
.elementopadre li{
    border: 1px solid salmon;
    padding: 5px;
}
/*.Elemento1{
    background-color: #8123de;
    color: aliceblue;
    flex-grow: 3;
}
.Elemento2{
    background-color: #540;
    color: #46453a;
    flex-basis: 10%;
    
}*/
@media (min-width: 767px){
    .elementopadre{
        display: flex;
        flex-direction: row;
        background-color: #99ff00;
    }

}