.Bienvenidos{
    color:black;
    background-color: antiquewhite;
    font-size: 60px;
}
.título{
    color: brown;
    background-color: blueviolet;
    font-size: 90px;
}
.texto{
    color:#99ff00;
    font-size: 40px;
}
.Atractivos{
    color: #46453a;
    font-size: 40px;
}
.Contacto{
    color: #8123de;
    font-size: 40px;
}
.Recreo{
    color: #11ff88;
    font-size: 40px;
}
.Avent{
    color: #135;
    font-size: 40px;
}
.Des{
    color: #540;
    font-size: 40px;
}
.Turismo{
    color: black;
    background-color: aquamarine;
    font-size: 65px;
}
.at1{
    background-color:#135;
    width: 50%;
    height: 90vh;
    margin: auto;
}
.at2{
    background-color: #8123de;
    width: 40%;
    height: 40vh;
    margin: auto;
}
.at3{
    background-color: #99ff00;
    width: 30%;
    height: 30vh;
    margin: auto;
    margin-top: auto;
}
.at4{
    background-color: aqua;
    width: 20%;
    height: 20vh;
    margin: auto;
}